*{
    font-family: sans-serif;
}

.boolean_container{
    height: 100vh;
    width: 100%;
}

.background_header{
    background-color: #F8F9FA;
    height: 100px;
}

.allert{
    border: none;
    background-color: #F8F9FA;
    display: inline-block;
}

.navbar_color{
    background-color: #E5E5E5;
}

.size_img{
    height: 70px;
}

.side_bar{
    background-color: #051E34;
    height: calc(100vh - 100px);
    background-image: url('../img/sidebar-bg.png');
}

ul> li{
    list-style: none;
    color: white;
}

.right_content{
    height: calc(100vh - 100px);
    background-color: #F8F9FA;
}

.header_right_col{
    background-color: #1B72E8;
}

.badge_color{
    background-color: #165BBA;
}

.header_right_col> *{
    color: white;
}

.circle_code{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F26551;
    color: white;
    text-align: center;
    line-height: 30px;
}

.square_icon{
    border: 2px solid #6C757D;
    padding: 4px;
    border-radius: 5px;
}

