*{
    font-family: sans-serif;
}

.boolean_container{
    height: 100vh;
    width: 100%;
}

.background_header{
    background-color: #F8F9FA;
    height: 100px;
}

.navbar_color{
    background-color: #E5E5E5;
   
}

.size_img{
    height: 70px;
}

.side_bar{
    background-color: #051E34;
    height: calc(100vh - 100px);
    background-image: url('../img/sidebar-bg.png');
}

ul> li{
    list-style: none;
    color: white;
}

.right_content{
    height: calc(100vh - 100px);
    background-color: violet;
}

